// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// backgrounds
$bg-white: #FFFFFF;

// colors
$color-white: #FFFFFF;
$color-black: #363636;







