// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button-blue {
  background-color: red;
  // if the breakpoint is less than or equal to 360px
  @include media("<=phone") {
    background-color: #cbd4c2;    
  }
  // if the breakpoint is greater than 360px and less than or eqaul to 425px
  @include media(">phone", "<=425px") {
    background-color: #ff9b54;    
  }

  // if the screen is going to be greater than 425px and less than or eqaul to 768px
  @include media(">425px", "<=tablet") {
    background-color: #ae76a6;    
  }

  // if the screen is going to be greater than 768px and less than 1366px
  @include media(">tablet", "<desktop") {
    background-color: #a3c3d9;    
  }
  // if the screen is going to be greater than or equal to 1366px
  @include media(">=desktop") {
    background-color: #f8bd7f;    
  }
  // if the screen is going to be greater than or equal to 1920px
  @include media(">=LGdesktop", "retina2x") {
    background-color: #efefef;    
  }
}
